<li class="details details-<%= issue.status.to_s.gsub(" ", "-") %>" id="issue-details-<%= issue.id %>">
    <h1><%= pluralize issue.comment_threads.count, "comment" %></h1>
    <% if issue.comment_threads.any? %>
      <section class="comments">
          <% issue.comment_threads.each do |comment| %>
            <%= render comment %>
          <% end %>
      </section>
    <% end %>
    <%= render "comments/form", :issue => issue %>
</li>