<%= form_for(@issue, :remote => true) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <%= f.hidden_field :project_id, :value => @project.id %>
  <div class="field">
    <%= f.text_area :content, placeholder: t("issues.compose") %>
  </div>
  <%= f.submit t("issues.submit"), class: "btn btn-large btn-primary" %>
<% end %>