<article class="issue issue-<%= issue.status %>">
  <p class="actions">
    <% if not issue.status == "pending" or issue.status == "revalidated" %>
      <%= link_to "I want to solve this!", solve_issue_path(issue), :class => "btn btn-large btn-success" %>
    <% elsif issue.status == "pending_validation" and issue.who_is_solving != current_user %>
      <%= link_to "Validate", validate_issue_path(issue), :class => "btn btn-large btn-warning" %>
    <% end %>
  </p>
  <p>
    <%= issue.content %> 
    <% if not @project %><span class="label label-info"><%= link_to issue.project.name, issue.project %></span><% end %>
    <% if issue.tags.any? %>
      <% issue.tags.each do |tag| %>
        <span class="label label-warning"><%= link_to tag.name, "#" %></span>
      <% end %>
    <% end %>
  </p>
  <p class="author"><strong><%= t("issues.author") %></strong> <span class="label"><%= link_to issue.user.name, issue.user %></span></p>
  
  <% if issue.comment_threads.any? %>
    <section class="comentarios">
      <header>
        <h1>Comentários</h1>
      </header>
      <% issue.comment_threads.each do |comment| %>
        <article>
          <p><%= comment.body %></p>
          <p class="author">By <%= link_to comment.user.name, comment.user %>, <%= time_ago_in_words(comment.created_at) %> ago</p>
        </article>
      <% end %>
    </section>
  <% end %>
  
  <%= render :partial => "comments/form", :locals => {:issue => issue} %>

</article>