<li class="issue clearfix issue-<%= issue.status.to_s.gsub(" ", "-") %>" id="issue-<%= issue.id %>">
  <div class="info">
    <ul>
      <li><%= status_with_user(issue) %></li>
      <li><%= pluralize issue.comment_threads.count, "comment" %></li>
    </ul>
  </div>
  <div class="actions clearfix" id="issue-actions-<%= issue.id %>">
    <%= show_action_for(issue) %>
    <%= render("issues/admin", :issue => issue) if issue.user == current_user %>
  </div>
  <%= link_to issue.content, issue_details_path(issue), :remote => true %>
</li>