<% provide(:title, t(:issues)) %>

<section id="issues-page">
  <header id="overview" class="jumbotron subhead">
    <h1><%= t(:issues) %></h1>
  </header>

  <ul class="breadcrumb">
    <li>
      <%= link_to t(:home), root_path %> <span class="divider">/</span>
    </li>
    <li class="active">
      <%= link_to t(:issues), issues_path %>
    </li>
  </ul>

  <% if @issues.any? %>
  <div id="issues" class="clearfix">
    <% @issues.each do |issue| %>
      <%= render issue %>
    <% end %>
    <%= page_navigation_links @issues %>
  </div>
  <% else %>
  <!-- create project teaser -->
  <% end %>
  
</section>