<% provide(:title, t(:all_users)) %>

<section id="users-page">
  
  <header id="overview" class="jumbotron subhead">
    <h1><%= t(:all_users) %></h1>
    <p class="lead"><%= t(:users_tagline) %></p>
  </header>

  <ul class="breadcrumb">
    <li>
      <%= link_to t(:home), root_path %> <span class="divider">/</span>
    </li>
    <li class="active">
      <%= link_to t(:users), users_path %>
    </li>
  </ul>
  
  <ul class="avatars-list clearfix">
  <% @users.each do |user| %>
    <%= render user %>
  <% end %>
  </ul>

  <%= page_navigation_links @users %>
  
</section>