<% provide(:title, t("users.all")) %>

<section id="users-page">
  
  <header id="overview" class="jumbotron subhead">
    <h1><%= t("users.all") %></h1>
  </header>

  <ul class="breadcrumb">
    <li>
      <%= link_to t("home.title"), root_path %> <span class="divider">/</span>
    </li>
    <li class="active">
      <%= link_to t("users.title"), users_path %>
    </li>
  </ul>
  
  <ul class="avatars-list clearfix">
  <% @users.each do |user| %>
    <%= render user %>
  <% end %>
  </ul>

  <%= page_navigation_links @users %>
  
</section>