<% provide(:title, @user.name) %>

<section id="user-page">
  <header id="overview" class="jumbotron subhead">
    <%= gravatar_for(@user) %>
    <h1><%= @user.name %></h1>
    <p class="lead"><%= mail_to @user.email %></p>
  </header>

  <ul class="breadcrumb">
    <li>
      <%= link_to t(:home), root_path %> <span class="divider">/</span>
    </li>
    <li>
      <%= link_to t(:projects), projects_path %> <span class="divider">/</span>
    </li>
    <li class="active">
      <%= link_to t(:edit_project), edit_project_path(@project) %>
    </li>
  </ul>

  <div class="well">
    <p><strong>Projects:</strong> <%= @user.projects.count %>, <strong>Issues:</strong> <%= @user.projects.count %></p>
  </div>

  <% if @user.projects.any? %>
    <ul class="projects">
      <%= render @projects %>
    </ul>
    <%= page_navigation_links @projects %>
  <% end %>
</section>