<% provide(:title, @user.name) %>

<section id="user-page">
  <header id="overview" class="jumbotron subhead">
    <%= image_tag(@user.avatar.url(:medium), :class => "avatar") %>
    <h1><%= @user.name %></h1>
    <p class="lead"><%= mail_to @user.email %></p>
  </header>

  <div class="well">
    <p><strong>Projects:</strong> <%= @user.projects.count %>, <strong>Issues:</strong> <%= @user.projects.count %></p>
  </div>

  <% if @user.projects.any? %>
    <ul class="projects">
      <%= render @projects %>
    </ul>
    <%= page_navigation_links @projects %>
  <% end %>
</section>