<article class="project" id="project-<%= project.id %>">
  <% if project.user == current_user %>
    <div class="project-actions">
        <%= link_to raw('<i class="icon-edit icon-white"></i> ') + t("projects.edit"), edit_project_path(project), :class => "btn btn-small btn-primary" %>
        <%= link_to raw('<i class="icon-trash icon-white"></i> ') + t("projects.delete"), "#modal-confirm",
                                            :class => "btn btn-small btn-danger delete", 
                                            :data => {"id" => project.id, "toggle" => "modal", "message" => "Are you sure you want to delete this project?", "content" => project.name, "path" => project_path(project)} %>
    </div>
  <% end %>
  <header>
    <h1><%= link_to project.name, project %></h1>
  </header>
  <p class="info"><%= pluralize project.issues.count, "issue" %></p>
  <ul class="users clearfix">
    <% project.related_users.each do |user| %>
      <li><%= link_to image_tag(user.avatar.url(:thumb), :class => "avatar"), user, :rel => "tooltip", :title => user.name %></li>
    <% end %>
  </ul>
</article>