<article class="project">
  <header>
    <h1><%= link_to project.name, project %> <span class="label label-<%= "success" if project.status == "active" %>"><%= project.status %></span></h1>
  </header>
  <p class="info"><%= t(:issues) %>: <span class="issues"><%= project.issues.count %></span> </p>
  <ul class="users clearfix">
    <li><%= gravatar_for(project.user) %></li>
  </ul>
  <% if project.user == current_user %>
    <div class="project-actions">
        <%= link_to "Edit project", edit_project_path(project), :class => "btn btn-small btn-primary" %>
        <%= link_to "Delete project", project, :method => :delete, :confirm => "You sure?",
                                            :title => "Delete #{project.name}", :class => "btn btn-small btn-danger" %>
    </div>
  <% end %>
</article>