<% provide(:title, "#{t("projects.edit")} #{@project.name}") %>

<section id="projects-page">
  <header id="overview" class="jumbotron subhead">
    <h1><%= t("projects.edit") %></h1>
  </header>

  <ul class="breadcrumb">
    <li>
      <%= link_to t("home.title"), root_path %> <span class="divider">/</span>
    </li>
    <li>
      <%= link_to t("projects.title"), projects_path %> <span class="divider">/</span>
    </li>
    <li class="active">
      <%= link_to t("projects.edit"), edit_project_path(@project) %>
    </li>
  </ul>

  <%= render "form" %>
  
</section>