<% provide(:title, 'My Projects') %>

<section id="projects-page">
  <header id="overview" class="jumbotron subhead">
    <h1>Projects</h1>
    <p class="lead">Here come the bugs.</p>
  </header>

  <ul class="breadcrumb">
    <li>
      <%= link_to "Home", root_path %> <span class="divider">/</span>
    </li>
    <li class="active">
      <%= link_to "Projects", projects_path %>
    </li>
  </ul>

  <% if @projects %>
  <table class="table table-striped">
    <thead>
      <tr> 
        <th>Project</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td>
          <strong><%= link_to project.name, project %></strong>
        </td>
        <td class="actions">
          <%= link_to "Edit project", edit_project_path(project), :class => "btn btn-small btn-primary" %>
          <%= link_to "Delete project", project, :method => :delete, :confirm => "You sure?",
                                              :title => "Delete #{project.name}", :class => "btn btn-small btn-danger" %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <% else %>
  <!-- create project teaser -->
  <% end %>
  
</section>