<% provide(:title, t(:projects)) %>

<section id="projects-page">
  <header id="overview" class="jumbotron subhead">
    <h1><%= t(:projects) %></h1>
  </header>

  <ul class="breadcrumb">
    <li>
      <%= link_to t(:home), root_path %> <span class="divider">/</span>
    </li>
    <li class="active">
      <%= link_to t(:projects), projects_path %>
    </li>
  </ul>

  <% if @projects.any? %>
  <div id="projects" class="clearfix">
    <% @projects.each do |project| %>
      <%= render project %>
    <% end %>
    <%= page_navigation_links @projects %>
  </div>
  <% else %>
  <!-- create project teaser -->
  <% end %>
  
</section>