<% provide(:title, t(:create_project)) %>

<section id="projects-page">
  <header id="overview" class="jumbotron subhead">
    <h1><%= t(:create_project) %></h1>
  </header>

  <ul class="breadcrumb">
    <li>
      <%= link_to t(:home), root_path %> <span class="divider">/</span>
    </li>
    <li>
      <%= link_to t(:projects), projects_path %> <span class="divider">/</span>
    </li>
    <li class="active">
      <%= link_to t(:create_project), new_project_path %>
    </li>
  </ul>

  <%= render "form" %>
  
</section>