<% provide(:title, @project.name) %>

<section id="projects-page">
  <header id="overview" class="jumbotron subhead">
    <h1><%= @project.name %> <small><i class="icon-share"></i><%= link_to @project.url, @project.url, :target => "_blank" %></small></h1>
  </header>

  <ul class="clearfix">
  <% @project.issues.each do |issue| %>
    <%= render issue %>
  <% end %>
  </ul>

  <%= render "issues/form" if @project.status != "archived" %>

  <footer>
    <% if @project.user == current_user %>
      <% if @project.status != "archived" %>
        <p><i class="icon-folder-close"></i> <%= link_to t("projects.archive"), archive_project_path(@project), :class => "archive-project" %></p>
      <% else %>
        <p><i class="icon-folder-open"></i> <%= link_to t("projects.reopen"), reopen_project_path(@project), :class => "reopen-project" %></p>
      <% end %>
    <% end %>
  </footer>

</section>
