<% provide(:title, @project.name) %>
<section id="projects-page">
  <header id="overview" class="jumbotron subhead">
    <h1><%= @project.name %></h1>
    <p class="lead"><%= link_to @project.url, @project.url, :target => "_blank" %></p>
  </header>

  <ul class="breadcrumb">
    <li>
      <%= link_to "Home", root_path %> <span class="divider">/</span>
    </li>
    <li>
      <%= link_to "Projects", projects_path %> <span class="divider">/</span>
    </li>
    <li class="active">
      <%= link_to @project.name, @project %>
    </li>
  </ul>

  <section id="project-issues">
    <header>
      <h1>Issues</h1>
    </header>
    <%= link_to t(:create_issue), "#", :class => "btn btn-success btn-small", :id => "create-issue" %>
    <% @project.issues.each do |issue| %>
      <p class="issue"><%= issue.content %></p>
    <% end %>
  </section>
  
</section>