<ul class="nav nav-pills">
  <li><%= link_to t("home.title"), root_path %></li>
  <% if user_signed_in? %>
    <li><%= link_to t("projects.create"), new_project_path %></li>
    <li><%= link_to t("projects.title"), projects_path %></li>
    <li><%= link_to t(:my_account), edit_user_registration_path %></li>
  <% else %>
    <li><%= link_to t(:sign_in), new_user_session_path %></li>
    <li><%= link_to t(:create_account), new_user_registration_path %></li>
  <% end %>
  <li><%= link_to t("users.title"), users_path %></li>
  <li><%= link_to t(:about), static_pages_about_path %></li>
  <li><%= link_to t(:help), static_pages_help_path %></li>
  <% if user_signed_in? %>
    <li><%= link_to t(:logout), destroy_user_session_path, :method => :delete, :class => "logout" %></li>
  <% end %>
</ul>