<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Tissues</title>
    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    
    <%= render "shared/greetings" %>
    
    <div class="container" id="app-container">
     
      <%= render "shared/nav" %>

      <section id="main">        
        <% flash.each do |key, value| %>
          <div class="alert alert-<%= key %>"><a class="close" data-dismiss="alert">×</a><%= value %></div>
        <% end %>
        <%= yield %>
      </section>
      
      <footer class="footer">
        <p>Developed with <%= link_to raw("&hearts;"), "http://rubyonrails.org" %> by <%= link_to "Davi Ferreira", "http://www.daviferreira.com" %></p>
      </footer>
      
    </div>
    
    <%= debug(params) if Rails.env.development? %>
    
  </body>
</html>