<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Tissues</title>
    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <% if user_signed_in? %>
    <div id="greetings" class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <%= link_to "Tissues", root_path, :class=> "brand" %>
          <p>Happy bug hunting, <%= current_user.name %>.</p>
        </div>
      </div>
    </div>
    <% end %>
    <div class="container">
      <header id="overview" class="jumbotron subhead">
        <h1>Tissue</h1>
        <p class="lead">Kill all the bugs.</p>
        <div class="subnav subnav-fixed">
          <ul class="nav nav-pills">
            <% if user_signed_in? %>
              <li class="create-project"><%= link_to("Create project", new_project_path) %></li>
            <% end %>
            <li><%= link_to "Home", root_path %></li>
            <li><%= link_to "About", static_pages_about_path %></li>
            <li><%= link_to "Users", users_path %></li>
            <li><%= link_to "Help", static_pages_help_path %></li>
            <% if user_signed_in? %>
              <li><%= link_to "My projects", projects_path %></li>     
              <li><%= link_to "My account", edit_user_registration_path %></li>
              <li><%= link_to "Logout", destroy_user_session_path, :method => :delete %></li>
            <% else %>
              <li><%= link_to "Sign in", new_user_session_path %></li>
              <li><%= link_to "Create an account", new_user_registration_path %></li>
            <% end %>

          </ul>
        </div>
      </header>

      <section id="main">        
        <% flash.each do |key, value| %>
          <div class="alert alert-<%= key %>"><%= value %></div>
        <% end %>
        <%= yield %>
      </section>
      <footer>
        <p>Developed with <%= link_to raw("&hearts;"), "http://rubyonrails.org" %> by <%= link_to "Davi Ferreira", "http://www.daviferreira.com" %></p>
      </footer>
    </div>
    <%= debug(params) if Rails.env.development? %>
  </body>
</html>