<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Tissues</title>
    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    
    <%= render "layouts/greetings" %>
    
    <div class="container" id="app-container">
     
      <%= render "layouts/nav" %>

      <section id="main" class="clearfix">        
        <% flash.each do |key, value| %>
          <div class="alert alert-<%= key %>"><a class="close" data-dismiss="alert">&times;</a><%= value %></div>
        <% end %>
        <%= yield %>
      </section>
      
    </div>
    
    <%= debug(params) if Rails.env.development? %>
    
  </body>
</html>